#filter1{
	display: block;
	width: 300px;
	-webkit-filter: grayscale(1);
	filter: contrast(23);
	
}

#filter2{
	    display: block;
		width: 300px;
		-webkit-filter: grayscale(1);
		filter: saturate(237);
}

#filter3{
	display: block;
    width: 300px;
    -webkit-filter: brightness(59%);
	filter:brightness(59%);
}